/* stylesheet for Samuel Webster's etch-a-sketch project

COLORS:
Light magenta: #f70776
Regular magenta: #c3195d
Dark violet: #680747
Super dark violet: #141010

*/

body {
    background-image: linear-gradient(#680747, #141010, #680747);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #f70776;
}

.text {
    font-family: monospace;
    font-size: 3vh;
}

/* main grid that houses squares */
#grid {
    display: grid; /* shocker! */
    width: 40vh;
    height: 40vh;
    background-color: #680747;
}

.block {
    background-color: white;
}

.active {
    background-color: black;
}

.border {
    border: outset #c3195d 1vh;
}

#clear {
    margin: 3vw;
    color: #c3195d;
    width: 25vh;
}

#size {
    width: 20vh;
}

#size:focus {
    outline: none;
}

#title {
    color: #f70776;
    font-size: 5vh;
}

#gh {
    width: 8vh;
    height: 8vh;
}

#header {
    width: 100vw;
    height:10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255,255,255,0.15);
    justify-self: top;
    align-items: center;
    margin-bottom: 0vh;
}

#options {
    display: flex;
    flex-direction: column;
    width: 80vw;
    background-color: rgb(255,255,255,0.15);
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
}

.check {
    display: flex;
}

label {
    display: block;
    color: #f70776;
    margin-left: 3vw;
}

.click-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh;
}

.gridlines {
    border: solid lightgray 1px;
}